<section id="profile">
    <header><h1>Profile</h1></header>
    <% if(messages.error) { %>
        <div class="alert alert-danger" style="<%= messages.error ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.error ? messages.error[0] : '' %></strong></div>
    <% } %>
    <% if(messages.success) { %>
          <div class="alert alert-success" style="<%= messages.success ? 'margin-top:20px;' : 'display: none' %>"><strong><%= messages.success ? messages.success[0] : '' %></strong></div>
    <% } %>
    <div class="account-profile">
        <div class="row">
            <form role="form" id="form-account-profile" enctype="multipart/form-data" method="post" action="/users/update/<%= user._id %>">
            <div class="col-md-3 col-sm-3">
                <img class="image" src="<%= user.profilePicUrl ? '/assets/img/uploads/'+ user.profilePicUrl : '/assets/img/agent-01.jpg'%>" alt="Profile Picture">
                <% if(!user.profilePicUrl) { %>
                  <input type="file" class="form-control" name="profilePicUrl" accept="image/*">
                  <% } else { %>
                    <input type="file" class="form-control" name="profilePicUrl" accept="image/*">
                    <input type="hidden" name="profilePicUrl" value="<%= user.profilePicUrl %>">
                  <% } %>
            </div>
            <div class="col-md-9 col-sm-9">
                    <section id="contact">
                        <!-- <h3>Profile Details</h3> -->
                        <dl class="contact-fields">
                            <dt><label for="firstName">First Name:</label></dt>
                            <dd><div class="form-group">
                                <input type="text" class="form-control" value="<%= user.firstName %>" name="firstName">
                            </div><!-- /.form-group --></dd>
                            <dt><label for="lastName">Last Name:</label></dt>
                            <dd><div class="form-group">
                                <input type="text" class="form-control" value="<%= user.lastName %>" name="lastName">
                            </div><!-- /.form-group --></dd>
                            <dt><label for="phone">Phone:</label></dt>
                            <dd><div class="form-group">
                                <input type="text" class="form-control" value="<%= user.phone %>" name="phone" value="">
                            </div><!-- /.form-group --></dd>
                            <dt><label for="email">Email:</label></dt>
                            <dd><div class="form-group">
                                <input type="text" readonly="true" class="form-control" value="<%= user.email %>" name="email">
                            </div><!-- /.form-group --></dd>
                            <dt><label for="address">Address:</label></dt>
                            <dd><div class="form-group">
                                <textarea class="form-control" name="address"><%= user.address %></textarea>
                            </div><!-- /.form-group --></dd>
                        </dl>
                    </section>
                    <section id="about-me">
                        <h3>About Me</h3>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" name="bio">
                              <%= user.bio %>
                            </textarea>
                        </div><!-- /.form-group -->
                    </section>
                    <section id="social">
                        <div class="form-group clearfix">
                            <button type="submit" class="btn pull-right btn-default" id="account-submit">Save Changes</button>
                        </div><!-- /.form-group -->
                    </section>
            </div><!-- /.col-md-9 -->
            </form><!-- /#form-contact -->
        </div><!-- /.row -->
    </div><!-- /.account-profile -->
</section><!-- /#profile -->
